.CircularProgressbar-path {
    stroke: #07CF5F;
 
  }

.CircularProgressbar-trail {
    stroke:  #CEE5FF;
  }

  @media only screen
    and (device-width : 375px)
    and (device-height : 667px)
    and (-webkit-device-pixel-ratio : 2) {
      svg {
        max-height: 60vw;
      }
  }

.CircularProgressbar {
  width: 100%;
  height: 100%;
}